{{!-- update for burgers --}}

<img src='/public/assets/img/burger.png'>

<h1>Eat-Da-Burger!</h1>

<h2>Need to Eat!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
    <li>
      <button burger-burgname="{{this.burger_name}}" class="delburg">Devour!</button>
    </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Mhmmm that was good!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{!-- {{> cats/cat-block sleep=false}} --}}
  {{/if}}
  {{/each}}
</ul>

<div class="container">


  <form id="create-form">

    <h2>Add a Burger</h2>
    <div class="form-group">
      <label for="burg">Burger Name:</label>
      <input type="text" id="burg" name="name" placeholder="burger name here">
      <button type="submit">Add Burger</button>
      <p>Enter a buger you want to eat and click "Add Burger" button</p>
    </div>  

  </form>

  {{!-- <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked id="sleepy"> Sleepy!<br>
    <input type="radio" name="sleepy" value="0" id="awake"> Awake
  </div> --}}


</div>