
body {
    text-align: center;
    background-color: coral !important;
}

/* .container {
    background-color: coral;
} */

img {
    margin: 10px;
}

h1 {
    margin: 30px;
    padding: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

li {
    padding: 10px;
    margin: 10px;
    background: #faebd7;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.devour-burger {
    position: auto; 
    display: inline-block;
}
